.content {
  /* Remove height and flex properties */
  width: 100%;
  padding-bottom: 40px; /* Optional: add some bottom padding */
  background: transparent;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
  margin: auto;
}


.cardBorder {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  transition: box-shadow .5s;
}

.card:hover .cardBorder {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.65);
}

.card .articlesTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 12px;
  font-weight: 500;
  font-size: 1.2rem;
}

.card .articlesContent {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  color: black;
  padding: 12px;
  font-weight: 400;
  font-size: 1rem;
}

.card .articlesAuthor {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  color: black;
  padding: 12px;
  font-weight: 400;
  font-size: 0.9rem;
}

.headerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    color: black;
}

.contentProfile {
    align-items: center;
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 40px;
    background-color: rgba(255, 255,255, 0.5);
    border: 0.5px solid;
    border-color:  rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    color: black;
}

.textProfile {
    display: flex;
    flex-direction: column;

}

