.bgImage {
    /* position: absolute;  */
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh; 
    /* background-image: url("https://imgur.com/bXKCNrD.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: -1;  */
}

.outercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    margin-top: 85px;
    /* min-width: 100vh; */
}

.container{
    background-color: rgb(244, 232, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: column;
    width: 60vh;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    /* width: 78vh; */
    gap: 25px;
    padding: 20px;
}

.container h1{
    color: black;
    padding-top: 15px;
    padding-left: 20px;
}

.button{
    padding-left: 20px;
}

.register{
    color: black;
    padding-bottom: 20px;
    padding-left: 20px;
}

.alert {
    top: 20px;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 30%;
    /* z-index: 1000; */
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .text {
        padding: 10px;
        gap: 15px;
    }
}
