.container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

.headerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    /* margin: 10px; */
    padding-top: 50px;
    padding-bottom: 20px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    margin: 10px;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    margin: 10px;
    padding: 10px;
}