.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    padding-top: 50px;
    padding-bottom: 20px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

.image img {
    object-fit: contain;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-mono);
    margin: 10px;
    padding: 10px;
}