.outercontainer {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* min-width: 100vh; */
}

.form {
    align-items: center;
}

.card {
    background-color: #333446;
    box-shadow: 24px rgba(127, 140, 170, 0.2);
    /* purple again */
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    transition: box-shadow 0.5s, transform 0.3s;
}

.card:hover {
    box-shadow:
        0 25px 25px rgba(0, 0, 0, 0.3),
        /* depth shadow */
        0 10px 10px rgba(0, 0, 0, 0.2),
        /* mid shadow */
        0 0 25px rgba(127, 140, 170, 0.4);
    /* soft glow */
}


.text {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 55vh;
    gap: 20px;
    padding: 20px;
}

.container h1 {
    color: black;
    /* padding-top: 15px;
    padding-left: 20px; */
}

.image {
    justify-content: center;
    align-items: center;
    /* width: 60vh; */
    background-color: #333446;
    margin: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .25); */
    border-radius: 15px;
    /* transition: box-shadow .5s; */
    color: rgb(255, 255, 255);
}

.image p {
    max-width: 450px;
    display: flex;
    color: rgb(255, 255, 255);
    padding: 40px;
    text-align: center;
}

/* .desc {
    width: 55vh;
    font-size: 18px;
    align-items: center;
    color: black;
    padding: 20px;
    text-align: center;
} */

.button {
    padding-top: 10px;
    /* display: flex;  */
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.error {
    color: red
}