.outercontainer {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* min-width: 100vh; */
}

.form {
    align-items: center;
}

.container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    /* width: 78vh; */
    gap: 50px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.text {
    color: black;
    display: flex;
    flex-direction: column;
    width: 55vh;
    gap: 20px;
    padding: 20px;
}

.container h1 {
    color: black;
    /* padding-top: 15px;
    padding-left: 20px; */
}

.image {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; */
    background-color: #323031;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border-radius: 15px;
    /* transition: box-shadow .5s; */

}

.desc {
    color: white;
    padding: 20px;
    text-align: center;
}

.button {
    padding-top:10px ;
    /* display: flex;  */
    width: 100%;
    /* justify-content: center;
    align-items: center; */
}

.error {
    color: red
}