.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px; /* Optional: space between columns */
}

.column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    padding: 20px;
}

.description {
    text-align: center;
    color: black;
    font-size: 18px;
    padding: 10px;
}


@media (max-width: 800px) {
    .row {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }
}