/* .container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-mono);
  margin: 10px;
}

.title {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.5s;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: black;
}

.card:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

.card .cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  color: black;
  padding: 12px;
  font-weight: 500;
}

.card .cardButton {
  max-width: 300px;
  padding: 5px;
  display: flex;
  /* Enable flexbox */
  justify-content: flex-start;
  /* Align items to the left */
  flex-direction: row;
  gap: 10px;
  /* Optional: Add spacing between the buttons */
}