

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font-mono);
  margin: 10px;
}

.title {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  /* Remove height and flex properties */
  width: 100%;
  padding-bottom: 40px; /* Optional: add some bottom padding */
  background: transparent;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
  margin: auto;
}


.cardBorder {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 10px;
  transition: box-shadow .5s;
}

.card:hover .cardBorder {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.65);
}

.card .articlesTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 12px;
  font-weight: 500;
  font-size: 1.2rem;
}

.card .articlesContent {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  color: black;
  padding: 12px;
  font-weight: 400;
  font-size: 1rem;
}

.card .articlesAuthor {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  color: black;
  padding: 12px;
  font-weight: 400;
  font-size: 0.9rem;
}

.card .cardButton {
  max-width: 300px;
  padding: 5px;
  display: flex;
  /* Enable flexbox */
  justify-content: flex-start;
  /* Align items to the left */
  flex-direction: row;
  gap: 10px;
  /* Optional: Add spacing between the buttons */
}