.container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 80vh;
    height: 100%;
    width: 100%;
    min-width: auto; */
}

.title {
  margin: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.5s;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: whitesmoke;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: black;
}

.card:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

.card .cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  color: black;
  padding: 12px;
  font-weight: 500;
}

.card .cardButton{
  max-width: 300px;
  padding: 5px;
  display: flex; /* Enable flexbox */
  justify-content: flex-start; /* Align items to the left */
  flex-direction: row;
  gap: 10px; /* Optional: Add spacing between the buttons */
}
